<a href="https://colab.research.google.com/github/Pablo-aguiarr/Bimbo_Inventory_Demand/blob/master/Projeto_cancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Pacotes utilizados
import pandas as pd

In [2]:
!git clone https://github.com/Pablo-aguiarr/cancer_treatment

Cloning into 'cancer_treatment'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 12 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (12/12), done.

In [3]:
!ls

cancer_treatment  sample_data

In [26]:
df =pd.read_csv("/content/cancer_treatment/training_text",sep="\|\|",engine="python",names=["ID","TEXT"],skiprows=1)
df.head(5)

   ID                                               TEXT
0   0  Cyclin-dependent kinases (CDKs) regulate a var...
1   1   Abstract Background  Non-small cell lung canc...
2   2   Abstract Background  Non-small cell lung canc...
3   3  Recent evidence has demonstrated that acquired...
4   4  Oncogenic mutations in the monomeric Casitas B...

In [20]:
df.shape

(73, 2)

In [ ]:
# Dicionário de dados 'df':

In [18]:
df2 = pd.read_csv('/content/cancer_treatment/training_variants')
df2.head(10)

   ID    Gene             Variation  Class
0   0  FAM58A  Truncating Mutations      1
1   1     CBL                 W802*      2
2   2     CBL                 Q249E      2
3   3     CBL                 N454D      3
4   4     CBL                 L399V      4
5   5     CBL                 V391I      4
6   6     CBL                 V430M      5
7   7     CBL              Deletion      1
8   8     CBL                 Y371H      4
9   9     CBL                 C384R      4

In [ ]:
# Dicionário de dados df2:
# ID: the id of the row used to link the mutation to the clinical evidence
# Gene:the gene where this genetic mutation is located
# Variation the aminoacid change for this mutations
# Class 1-9 the class this genetic mutation has been classified on